.description
    padding: 50px 0
    height: auto
    &__subtitle
        text-align: center
    &__block
        display: flex
        justify-content: space-between
        margin-top: 25px
        &__icon
            width: 35%
            display: flex
            justify-content: center
        &__desc
            width: 65%
            display: flex
            justify-content: space-between
            flex-direction: column
            h3
                text-align: left
                color: $head-color
            .block__desc
                text-align: justify
                font-size: 17px
                margin-top: 10px
                color: #2e2e2e    

            
