@mixin title    
    font-size: 26px   
    font-weight: 700
    color: #2e2e2e  
    text-transform: uppercase

$head-color: #ec644b     
    
*
    font-family: 'Roboto', sans-serif
    padding: 0px
    margin: 0px
    box-sizing: border-box

h1        
    font-size: 65px   
    font-weight: 700
    color: $head-color 
    text-transform: uppercase

span.social
    font-size: 34px
    color: $head-color

h3 
    @include title     