header
    padding: 10px
    .header__logo
        margin: auto
    nav.menu
        padding: 0px 
        display: flex
        justify-content: space-around
        align-items: center
        a
            text-decoration: none
    .header__callback__desc
        text-align: right
        
    .header__callback__link
        text-align: right
        display: block
        margin-top: 5px
    button.btn.btn-callback
        display: block
        margin: 0 auto
        