// для  девайсов col-xl и больше
    
@media (min-width: 1200px)

    .description
        &__block
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            margin-top: 25px
            width: 48%
            div.description__block__icon
                width: 75px
                height: 75px
                margin-bottom: 20px
            div.description__block__desc
                width: 100%
                display: flex
                justify-content: space-between
                flex-direction: column
                h3
                    text-align: center
    div.slider
        margin-top: 20px
        div.row
            width: 100%
            margin: 0 auto
            div.slider__content__wrapper
                position: relative
                button.slick-prev
                    top: 7%
                    transform: translateY(-50%)
                    left: 20px
                button.slick-next
                    top: 7%
                    transform: translateY(-50%)
                    right: 20px
                       
              
// для  девайсов col-lg и больше

@media (min-width: 992px) and (max-width: 1199.98px)
    header
        height: 450px
        .bg_header
            height: 450px
        div.container
            padding-left: 3px
            nav.menu
                a.menu__link
                    text-decoration: none
                    display: block
                    border-right: none
                    padding-right: 0px
                    font-size: 14px
                    text-transform: uppercase
                    transition: 1s all
                    color: $head-color
                    border-right: 1px solid #000
            .header__callback__desc
                font-size: 15px
            .header__callback__link
                font-size: 15px
            h1
                font-size: 45px
            h2
                font-size: 35px

    .description
        &__subtitle h2
            font-size: 35px
        &__block
            justify-content: space-around
            align-items: center
            div.description__block__desc
                width: 80%
                div.block__title
                    text-align: center
                    h3
                        font-size: 20px
                        text-align: center
                div.block__desc
                    font-size: 15px
                    font-weight: 300
            div.description__block__icon
                width: 65px
                height: 65px
                margin-top: 0px
                margin-left: 10px
                span
                    font-size: 40px

    div.slider
        margin-top: 20px
        div.row
            width: 100%
            margin: 0 auto
            div.slider__title
                h3
                    font-size: 22px
            div.slider__content__wrapper
                .slider__content__block
                    align-items: flex-start
                    position: relative
                    .slider__content__desc
                        div.desc
                            font-weight: 300
                button.slick-prev
                    top: 5%
                    transform: translateY(-50%)
                    left: 15px
                    span.features    
                        font-size: 32px
                button.slick-next
                    top: 5%
                    transform: translateY(-50%)
                    right: 15px
                    span.features    
                        font-size: 32px

    div.modal
        div.modal__window
            width: 50%                              

// для мобильных девайсов col-md                    

@media (min-width: 768px) and (max-width: 991.98px)
    
    header
        height: 450px
        .bg_header
            height: 450px
        div.row
            padding-top: 40px
            .menu
                flex-direction: column
                align-items: center
                justify-content: center
                position: fixed
                top: 10px
                left: -100%
                background-color: rgba(0, 0, 0, .90)
                width: 45%
                height: 65vh
                transition: 1s all
                &_active
                    left: 10px
                a.menu__link
                    font-size: 20px
                    margin-bottom: 25px
                    border-right: none
            div.header__callback
                flex-direction: row
                align-items: center
                justify-content: space-around
                .header__callback__link
                    margin-top: 0px
                    font-size: 20px
                    font-weight: 700
                .header__callback__desc
                    font-size: 20px
                    font-weight: 700
        .header__title
            margin-top: 30px 
            h1
                font-size: 40px 
        .header__subtitle
            margin-top: 25px  
            h2
                font-size: 30px                      
        div.header__burger
            display: block
            position: fixed
            top: 18px
            right: 18px
            height: 21px
            width: 35px
            .burger
                display: block
                margin-bottom: 3px
                height: 4px
                width: 100%
                background-color: $head-color
        // div.header__burger_active
        //     .burger
        //         margin-top: -7px
        //         &:nth-last-child(1)
        //             transform: rotate(45deg)
        //         &:nth-last-child(2)
        //             display: none
        //         &:nth-last-child(3)
        //             transform: rotate(-45deg)

    .description
        padding-top: 25px 0
        &__subtitle
            margin-bottom: 15px 
            h2
                font-size: 30px
        .description__block
            flex-direction: column
            align-items: center
            justify-content: space-between
            height: auto
            margin-top: 10px
            div.description__block__desc
                width: 100%
                div.block__title
                    h3
                        font-size: 20px
                        text-align: center
                div.block__desc
                    margin-top: 6px
                    font-weight: 300     
            div.description__block__icon
                width: 65px
                height: 65px
                margin-top: 0px
                margin: 20px auto
                span
                    font-size: 40px

    div.slider
        div.row
            padding-top: 0px
            width: 100%
            margin: 0 auto
            div.slider__title
                h3
                    font-size: 21px
            div.slider__content__wrapper
                position: relative
                div.slider__content__block
                    flex-direction: column
                    img
                        width: 100%
                        margin: 0px
                    .slider__content__desc
                        width: 100%
                        h3
                            font-size: 20px
                            text-align: center
                        .desc
                            font-weight: 300
                            padding: 10px    
                button.slick-prev
                    left: 10px
                    top: 25%
                    transform: translateY(-50%)
                button.slick-next
                    right: 10px
                    top: 25%
                    transform: translateY(-50%)
                span.features    
                   font-size: 35px

    section.ordering
        h3 
            @include title
            font-size: 30px
        .container
            div.ordering__wrapper
                border-radius: 13px
                .ordering__icon
                    width: 65px
                    height: 65px
                    img
                        width: 40px
                        height: 40px
                form.ordering__form
                    align-items: center
                    justify-content: space-between
                    flex-direction: column
                    input
                        width: 70%
                        margin-bottom: 30px
                        font-size: 17px
                        font-weight: 300
                    .text_field
                        width: 70%
                        margin-top: 0px
                        font-size: 17px
                        font-weight: 300
                    .btn.btn-form
                        margin-top: 30px
                        width: 50%
                        font-size: 17px
                    
    div.modal
        div.modal__window
            width: 50%                    

                               
// для мобильных девайсов sm

@media (max-width: 767.98px)
    header
        height: 550px
        .bg_header
            height: 550px
        .header__title h1
            font-size: 32px 
        .header__subtitle h2
            font-size: 26px     
        div.row
            padding-top: 40px
            nav.menu
                flex-direction: column
                align-items: center
                justify-content: center
                position: fixed
                top: 10px
                left: -100%
                background-color: rgba(0, 0, 0, .75)
                width: 55%
                height: 65vh
                transition: 1s all
                &_active
                    left: 10px
                .menu__link
                    font-size: 19px
                    margin-bottom: 25px
                    border-right: none
            div.header__callback
                flex-direction: row
                align-items: center
                justify-content: space-around
                .header__callback__link
                    margin-top: 0px
                    font-size: 15px
                    font-weight: 500
                .header__callback__desc
                    font-size: 15px
                    font-weight: 500           
        div.header__burger
            display: block
            position: fixed
            top: 15px
            right: 15px
            height: 21px
            width: 30px
            .burger
                display: block
                margin-bottom: 3px
                height: 4px
                width: 100%
                background-color: $head-color
        // div.header__burger_active
        //     .burger
        //         margin-top: -7px
        //         &:nth-last-child(1)
        //             transform: rotate(45deg)
        //         &:nth-last-child(2)
        //             display: none
        //         &:nth-last-child(3)
        //             transform: rotate(-45deg)
        .header__callback
            padding: 0px            
            div.header__callback__desc
                font-size: 18px
                text-align: center 
            a.header__callback__link
                font-size: 18px
                font-weight: 500
                text-align: center
        .header__btn
            padding: 0px
            align-items: flex-start    
            .btn.btn-callback
                height: 30px        
                
    section.description
        padding: 25px 0
        .description__subtitle h2
            font-size: 26px
        .description__block
            align-items: center
            &__desc
                h3
                    font-size: 18px
                div.block__desc
                    font-size: 15px
                    font-weight: 300
            div.description__block__icon
                width: 75px
                height: 75px
                margin-top: 0px
                margin: 0 auto
                span
                    font-size: 45px        

    div.slider
        div.row
            div.slider__title
                h3
                    font-size: 20px
            div.slider__content__wrapper
                position: relative
                div.slider__content__block
                    flex-direction: column
                    border-radius: 10px
                    img
                        width: 100%
                        margin: 0px
                    .slider__content__desc
                        width: 100%
                        h3
                            font-size: 18px
                            text-align: center
                        .desc
                            font-size: 15px
                            font-weight: 300
                            padding: 8px  
                button.slick-prev
                    left: 10px
                    top: 25%
                    transform: translateY(-50%)
                button.slick-next
                    right: 10px
                    top: 25%
                    transform: translateY(-50%)
                span.features    
                   font-size: 29px

    section.ordering
        h3 
            @include title
            font-size: 24px
        .container    
            div.ordering__wrapper
                border-radius: 13px
                .ordering__icon
                    width: 65px
                    height: 65px
                    img
                        width: 45px
                        height: 45px
                form.ordering__form
                    align-items: center
                    justify-content: space-between
                    flex-direction: column
                    input
                        width: 85%
                        margin-bottom: 26px
                        font-size: 17px
                    .text_field
                        width: 85%
                        margin-top: 0px
                        font-size: 17px
                    .btn.btn-form
                        margin-top: 26px
                        width: 65%
                        font-size: 17px

    div.modal
        div.modal__window
            width: 80%
                                                           

// для мобильных девайсов xs

@media (max-width: 575.98px)                        
    header
        padding: 2px
        height: 350px
        .bg_header
            height: 350px
        div.row
            padding-top: 35px
            nav.menu
                justify-content: center
                height: 50
                
                vh
                width: 60%
                a.menu__link
                    font-size: 15px
                    margin-bottom: 20px
                    border-right: none
            div.header__burger
                display: block
                position: fixed
                top: 10px
                right: 10px
                height: 21px
                width: 25px
            div.header__callback
                flex-direction: column    
                div.header__callback__desc
                    font-size: 15px
                    text-align: center
                    font-weight: 700
                a.header__callback__link
                    font-size: 15px
                    font-weight: 700
                    text-align: center
                    padding: 0px
                    text-decoration: underline
            .header__btn
                padding: 0px
                align-items: flex-start    
                .btn.btn-callback
                    font-size: 11px
                    height: 30px
        .header__title
            margin-top: 30px
            h1
                font-size: 22px
        .header__subtitle
            margin-top: 20px        
            h2
                font-size: 20px

    .description
        &__subtitle h2
            font-size: 20px
        div.description__block
            flex-direction: column
            align-items: center
            div.description__block__icon
                width: 55px
                height: 55px
                margin: 12px auto
                span
                    font-size: 35px  
            .description__block__desc
                width: 100%
                div.block__title
                    h3
                        font-size: 17px
                        text-align: center

    div.slider
        div.row
            width: 100%
            margin: 0 auto
            div.slider__title
                h3
                    font-size: 18px
            div.slider__content__wrapper
                position: relative
                div.slider__content__block
                    flex-direction: column
                    border-radius: 7px
                    img
                        width: 100%
                        border-radius: 8px
                        margin: 0px
                    .slider__content__desc
                        width: 100%
                        h3
                            font-size: 17px
                            text-align: center
                        .desc
                            font-size: 15px
                            padding: 5px    
                button.slick-prev
                    left: 5px
                    top: 25%
                    transform: translateY(-25%)
                button.slick-next
                    right: 5px
                    top: 25%
                    transform: translateY(-25%)
                span.features    
                   font-size: 24px

    section.ordering
        h3 
            @include title
            font-size: 20px
        div.ordering__wrapper
            border-radius: 13px
            .ordering__icon
                width: 55px
                height: 55px
                img
                    width: 35px
                    height: 35px
            form.ordering__form
                align-items: center
                justify-content: space-between
                flex-direction: column
                input
                    width: 85%
                    margin-bottom: 26px
                    font-size: 15px
                .text_field
                    width: 85%
                    margin: 0px
                    font-size: 15px
                .btn.btn-form
                    margin-top: 26px
                    width: 65%
                    font-size: 15px

    div.modal
        div.modal__window
            .exit
                right: -20px
                top: -30px
            &__title
                h3
                    font-size: 17px
            .ordering__form_2
                input
                    font-size: 13px
                .text_field
                    font-size: 13px
                .btn.btn-form
                    width: 65%
                    font-size: 13px
                     
